.cluster_marker {
    position: relative;
    color: #fff;
}

.cluster_count{
    position: absolute;
    top: 0;
    right:  0;
    z-index: 100;

    background-color: #ff73b0;
    border-radius: 36%;
    padding: 0 2px 0 2px;
}
.cluster_count p{
    text-align: center;
}