.popup {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    border-radius: 20px !important;
    width: 100%;
    height: 5rem;
    /*justify-content: center;*/
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.image {
    width: 35%;
    display: flex;
    justify-content: center;
    /*margin-right: 1rem;*/
}

.image img {
    width: 90% !important;
    object-fit: cover;
}

.content {
    width: 65%;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.content h3 {
    margin: 0 0;
    font-size: 13px;
}

.content p {
    line-height: 1;
    color: darkgreen;
}