.range {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    margin-top: 2vh;
}

.dash {
    width: 2.5vw;
    height: 2px;
    background-color: #99a1ab;
}

.range_item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.5vw;
    height: 4.44vh;

    border-radius: 24px;
    border: 1px solid rgb(183, 196, 208);

    font-size: 14px;
    line-height: 16px;
}