.location_item {
    padding: 0.9em 1.6em;

    background-color: rgb(57, 57, 57);
    cursor: pointer;

    border-radius: 20px;
}

.location_ripple{
    margin: 0.4em;
    border-radius: 20px;
}

.location_item:hover {
    background-color: #1F1F1F;
}

.active{
    background-color: #1F1F1F;
}