.location_item {
    padding: 0.9em 1.6em;

    background-color: rgb(57, 57, 57);
    cursor: pointer;

    border-radius: 20px;
}

.location_ripple{
    margin: 0.4em;
    border-radius: 20px;
}

.location_item:hover {
    background-color: #1F1F1F;
}

.active{
    color: rgb(255, 103, 156);
    background: rgba(240, 98, 146, 0.05);
    border: 2px solid rgb(255, 103, 156);
}