.filter{
    width: 3.5rem;

    text-align: center;

    background-color: transparent;
    cursor: pointer;
}

.filter p{
    font-size: 0.8rem;
    color: #ffffff;
    margin-top: 3px;
}

.filter_image{
    margin: 0 auto;
    filter: grayscale(0.8);
    opacity: 0.8;
}

.filter_image.active{
    filter: grayscale(0);
    opacity: 1;
}