.button_ripple {
    margin: 0.4em;
    border-radius: 20px;
}

.button_inner {
    padding: 0.9em 1.6em;

    background-color: #460000FF;
    cursor: pointer;

    border-radius: 20px;
}

.button_inner:hover {
    background-color: #7A0101FF;
}
