.mapboxgl-popup{
    max-width: 100% !important;
}

.mapboxgl-popup-content{
    background-color: #e6deda;
    width: 200px;
    /*height: 50px;*/
    padding: 0 !important;
    border-radius: 200px !important;
}